/* =========================================  @import url(reset.css); */

body{
    font-family: "Courier New", monospace;
}

h1, .h1 {
    /* color: #f00; */
    /* color: #ff0000; */
    /* color: rgb(255, 0, 0); */
    /* color: rgba(255, 0, 0, .3); */
    color: red;
    font-family: 'Roboto Mono', monospace;
}

#bodyStart {
    color: rgba(55, 112, 89, .9)
}
/* 
.h1{
    color: red; 
} */

ol li{
    color: blue;
}

.active {
    color: brown;
}

a{
    text-decoration: none;
}

a:hover {
    color: chocolate;
    text-decoration: overline;
}

p:hover{
    background: #555;
    color: white;
}